[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "command-t"]
	path = command-t
	url = https://github.com/wincent/command-t
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "tcomment_vim"]
	path = tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "YCM-Generator"]
	path = YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator
[submodule "vim-flake8"]
	path = vim-flake8
	url = https://github.com/nvie/vim-flake8
